# .cursor
.cursor/*
!.cursor/skills/

# uv
.venv/

# env
.env

# vscode
.vscode/

# python
__pycache__/

# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph
# LangGraph
.langgraph_api/
