

# .cursor (ignore all except skills)
.cursor/*
!.cursor/skills/

# uv
.venv/


# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph
# LangGraph
.langgraph_api/
